body {
  background-color: #ddd;
}

h1 {
  background-color: aqua;
  margin: 0 0 20px 0;
  text-align: center;
  padding: 20px;
}


#map {
  width: 500px;
  height: 400px;
  background-color: #CCC;
}

#pano {
  width: 500px;
  height: 400px;
  background-color: #CCC;
}

.streetview {
  height: 100px;
  width: 100px;
}
